<%%= title l(:heading_<%= model_name_underscored %>_edit) %>

<%%= form_for([@project, @<%= model_name_underscored %>], html: {multipart: <%= acts_as_attachable? %>, id: '<%= model_name_underscored %>_form', class: 'tabular', remote: request.xhr?}) do |f| %>
  <%%= error_messages_for @<%= model_name_underscored %> %>

  <div class="box">
    <%%= render partial: 'form', locals: {<%= model_name_underscored %>: @<%= model_name_underscored %>} %>
  </div>

  <%% if !request.xhr? %>
  <p>
    <%%= submit_tag l(:button_update), title: l(:button_update) %>
  </p>
  <%% end %>
<%% end %>
<%% ### PAGE CUSTOMS ########################################################## %>
<%% content_for :sidebar do %>
  <%%= render :partial => '<%= model_name_pluralize_underscored %>/sidebar' %>
<%% end %>