<%%= title @<%= model_name_underscored %> %>
<div class="issue">
  <table class="attributes">
    <%%= issue_fields_rows do |rows| %>
<%- safe_columns.each_with_index do |column, idx| -%>
<%- next if description_column? && column[0] == description_column -%>
<%- if idx % 2 == 0 -%>
      <%% rows.left ::<%= model_name %>.human_attribute_name(:<%= column[0] %>), format_object(@<%= model_name_underscored %>.<%= column[0] %>) %>
<%- else -%>
      <%% rows.right ::<%= model_name %>.human_attribute_name(:<%= column[0] %>), format_object(@<%= model_name_underscored %>.<%= column[0] %>) %>
<%- end -%>
<%- end -%>
<% associations.each_with_index do |assoc, idx| %>
<%- next if assoc[1][:type] == 'has_many' -%>
<% association_name = assoc[0] %>
<%- if idx % 2 == 0 -%>
      <%% rows.left l(:label_<%= association_name %>), format_object(@<%= model_name_underscored %>.<%= association_name %>) %>
<%- else -%>
      <%% rows.right l(:label_<%= association_name %>), format_object(@<%= model_name_underscored %>.<%= association_name %>) %>
<%- end -%>
<%- end -%>
    <%% end %>
    <%- if acts_as_customizable? -%>
      <hr />
    <%%= render partial: 'redmine_extensions/custom_field_rows', :locals => { :custom_field_values => @<%= model_name_underscored %>.visible_custom_field_values } %>
    <%- end -%>
    <%%= call_hook(:view_<%= model_name_pluralize_underscored %>_show_details_bottom, :<%= model_name_underscored %> => @<%= model_name_underscored %>) %>
  </table>
<%- if description_column? -%>
  <%% if !@<%= model_name_underscored %>.<%= description_column %>.blank? %>
    <hr />
    <div class="description">
      <p><strong><%%= ::<%= model_name %>.human_attribute_name(:<%= description_column %>) %></strong></p>
      <div class="wiki">
        <%%= textilizable @<%= model_name_underscored %>, :<%= description_column %>, attachments: @<%= model_name_underscored %>.attachments %>
      </div>
    </div>
  <%% end %>
<%- end -%>
<%- if acts_as_attachable? -%>
  <%% if @<%= model_name_underscored %>.attachments.any? -%>
    <hr />
    <%%= link_to_attachments @<%= model_name_underscored %>, :thumbnails => true %>
  <%% end %>
<%- end -%>
</div>
<%% ### PAGE CUSTOMS ########################################################## %>
<%% content_for :sidebar do %>
  <%%= render :partial => '<%= model_name_pluralize_underscored %>/sidebar' %>
<%% end %>