<%
   display_style = options[:display_style] || (entities_count > 3 ? :list : :tile)
   heading = "#{options[:heading]} (#{entities_count})"
%>
<% if entities_count > 0 %>
  <div id="<%= options[:module_name] %>_container" class="entity_references_container easy-dropper-target easy-drop-issue <%= display_style.to_s %>" data-drop-action="<%= entity.class.name.underscore %>" data-entity-id="<%= entity.id %>" data-issue-show="1">
    <%= call_hook(:view_easy_entity_assignemnt_top, :entity => entity, :query => query, :entities => entities, :options => options, :target_class => target_class) %>
    <div class="box">
      <%# entity_cards_params = {:module_name => options[:module_name], :project_id => project, :source_entity_type => entity.class.name, :source_entity_id => entity, :referenced_entity_type => referenced_entity_type, :referenced_collection_name => options[:referenced_collection_name]}.merge!(query.to_params) %>
      <% entity_cards_params = {} %>
      <%= render_toggler(options[:module_name], User.current, {:heading => heading + ':', :wrapping_heading_element_classes => entity_css_icon(target_class),
                                                                   :container_html => {:class => 'module-inside'}, :default_button_state => false, :heading_links => [
                                                      link_to('', {}, :class => 'icon-slab', :remote => true, :data => {:display => 'slab'}, :title => l(:title_easy_card_display_changer_tile)),
                                                      link_to('', {}, :class => 'icon-bullet-list', :remote => true, :data => {:display => 'list'}, :title => l(:title_easy_card_display_changer_list))
                                                    ]}) do %>


          <%= render(:partial => 'easy_entity_assignments/query_index', :locals => {
                                                                      :entity => entity,
                                                                      :query => query, :target_class => target_class,
                                                                      :project => project, :options => options, :entities => entities, :display_style => display_style}) %>


        <% if options[:context_menus_path] && respond_to?(options[:context_menus_path]) %>
          <%# context_menu(send(options[:context_menus_path], {:project_id => project, :back_url => url_for(params)}), "##{options[:module_name]}_container") -%>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
