<% modul_uniq_id ||= ''; block_name ||= 'easy_query' %>
<table style="border-collapse: collapse; border:0;">
  <tr>
    <td style="padding-left:0"><%= select_tag (block_name.blank? ? 'available_columns' : "#{block_name}[available_columns]"),
        query.available_columns_for_select,
        :multiple => true, :size => 10, :id => modul_uniq_id + 'available_columns', :class => 'easy-query-columns' %>
    </td>
    <td align="center" valign="middle">
      <input id="modal_selector_move_column_right_button" type="button" value="&#8594;"
       onclick="moveOptions($(this.form).find('#<%= modul_uniq_id + 'available_columns' %>')[0], $(this.form).find('#<%= modul_uniq_id + 'selected_columns' %>')[0]);" /><br />
      <input id="modal_selector_move_column_left_button" type="button" value="&#8592;"
       onclick="moveOptions($(this.form).find('#<%= modul_uniq_id + 'selected_columns' %>')[0], $(this.form).find('#<%= modul_uniq_id + 'available_columns' %>')[0]);" />
    </td>
    <td><%= select_tag "#{block_name}[column_names][]", query.selected_columns_for_select,
        :id => modul_uniq_id + 'selected_columns', :multiple => true, :size => 10, :class => 'easy-query-columns' %>
    </td>
    <td class="buttons">
      <input type="button" value="&#8648;" onclick="moveOptionTop($(this.form).find('#<%= modul_uniq_id + 'selected_columns' %>')[0]);" /><br />
      <input type="button" value="&#8593;" onclick="moveOptionUp($(this.form).find('#<%= modul_uniq_id + 'selected_columns' %>')[0]);" /><br />
      <input type="button" value="&#8595;" onclick="moveOptionDown($(this.form).find('#<%= modul_uniq_id + 'selected_columns' %>')[0]);" /><br />
      <input type="button" value="&#8650;" onclick="moveOptionBottom($(this.form).find('#<%= modul_uniq_id + 'selected_columns' %>')[0]);" />
    </td>
  </tr>
</table>
