<%
query_columns = query.inline_columns.count
first_summable = query.inline_columns.index{|column| column.sumable? } || query_columns
first_summable = 1 if first_summable < 1
group_limit = options[:group_limit] || @limit || 30
%>

<% groups.each do |group, attributes| %>
  <% uniq_id = "#{modul_uniq_id}_#{options[:block_name]}_#{query.group_by_column.name}_#{group.hash}" %>
  <%#= filter_plus_button(group.blank?, query.inline_columns.size + 3, uniq_id, format_html_entity_attribute(query.entity, query.group_by_column, group), easy_query_group_by_title_content(query, attributes[:count], attributes[:percent], attributes[:sums], :top, {:hide_sums => options[:hide_sums_in_group_by]}), user, name: attributes[:name]) %>
  <tr class="group <%= 'preloaded' if options[:preloaded] %>" id="<%= uniq_id %>" data-group-name="<%= attributes[:name] %>"
      data-pages="<%= Redmine::Pagination::Paginator.new(attributes[:count] || 0, group_limit, 1).last_page %>" data-entity-count="<%= attributes[:count].to_i %>">
    <td class="hide-when-print checkbox">
      <span class="expander" alt="Expander" title="<%= l(:collapse_expand) %>">&nbsp;</span>
    </td>
    <%= content_tag(:td, nil, :class => 'hide-when-print') if options[:hascontextmenu].to_s == 'true' -%>
    <td class='inline_expander' colspan="<%= (options[:colspan] || 0) + first_summable %>">
      <%= format_html_entity_attribute(query.entity, query.group_by_column, group, period: query.group_by_period).presence || l(:label_none) %>
      <%= easy_query_group_by_title_tags(query, attributes[:count], attributes[:percent], attributes[:sums][:bottom], {:hide_sums => options[:hide_sums_in_group_by]}) %>
    </td>
    <% query.inline_columns[first_summable..query_columns-1].each do |column| %>
      <td class="<%= column.css_classes %>"><%= format_html_entity_attribute(query.entity, column, attributes[:sums][:bottom][column]) if column.sumable? %></td>
    <% end %>
    <%= content_tag(:td, nil, :class => 'hide-when-print') if options[:modal_selector].to_s == 'true' -%>
    <td class="hide-when-print"></td>
  </tr>

  <% if options[:preloaded] && attributes[:entities] %>
    <%= render 'easy_queries/easy_query_entities', query: query, entities: attributes[:entities], modul_uniq_id: modul_uniq_id, user: user, options: options %>
  <% end %>
<% end %>
