<%
  easy_query ||= @easy_query
variables = {
  block_name: 'easy_query', container_id: easy_query.entity.name.pluralize.underscore,
  groups_url: params,
  options: {}, form_options: {}
}.merge(local_assigns)
variables[:options][:hascontextmenu] = true if !variables[:options].key?(:hascontextmenu)
variables[:modul_uniq_id] ||= variables[:container_id]
%>

<% present(easy_query, variables) do |presenter| %>
  <% if presenter.render_exports? && easy_query.new_record? %>
    <%= easy_render_format_options_dialog(easy_query, 'pdf', params) %>
    <%= easy_render_format_options_dialog(easy_query, 'csv', params) %>
    <%= easy_render_format_options_dialog(easy_query, 'xlsx', params) %>
  <% end %>

  <div id="<%= presenter.modul_uniq_id %>query_options">
    <%= render :partial => 'easy_queries/easy_query_index', :locals => {:query => presenter, :options => variables[:options]}.merge(variables[:form_options]) %>
  </div>

  <%= presenter.render_zoom_links %>

  <% if false && easy_query.chart_support? && easy_query.chart? %>
    <%= render :partial => 'easy_queries/easy_query_chart', :locals => {:block_name => variables[:block_name], :easy_query => presenter} %>
  <% end %>
  <% if false && easy_query.calendar_support? && easy_query.calendar? %>
    <%= render :partial => 'easy_queries/easy_query_calendar', :locals => {:block_name => variables[:block_name], :easy_query => presenter} %>
  <% end %>
  <% presenter.outputs.each do |output| %>
    <%= output.render_data %>
  <% end %>

  <%= include_calendar_headers_tags %>
  <%= javascript_include_tag 'redmine_extensions/jquery.easy_query' %>
  <%= javascript_include_tag 'context_menu.js' %>
  <script type="text/javascript">
    $("#<%= presenter.modul_uniq_id %>query_options").easy_query({modul_uniq_id: '<%= presenter.modul_uniq_id %>'});
  </script>
<% end %>
