<% block_name ||= ''; uniq_id ||= ''; attributes ||= {}
user ||= User.current
%>
<% query.entity_list do |entity, level| %>
  <%
  if @limit && (@limit % 2 == 1) && params['page'].to_i > 1 && params['page'].to_i % 2 == 0
    row_color = cycle('odd', 'even')
    end
  row_color ||= cycle('even', 'odd')
%>
  <tr id="entity-<%= entity.id %>"
      class="<%= row_color %><%= ' hascontextmenu' if options[:hascontextmenu] -%> <%= query.entity_css_classes(entity, {:level => level, :uniq_prefix => nil}) %> <%= ' context-menu-selection' if options[:modal_selector] && selected_values && selected_values.detect{|a,b| a == entity.id.to_s} -%> <%= " selectable" if options[:modal_selector] -%><%= ' easy-to-do-list-source' if entity.is_a?(Issue) -%>"
      <% if options[:go_to_url] %>
        onclick="javascript:GoToURL('<%= url_for(options[:go_to_url].merge({:id => entity})) -%>', event)"
      <% end %>
      <%= detect_hide_elements(uniq_id, user) -%> data-url="<%= url_to_entity(entity, :format => 'json') %>">
  <%# TODO zavisi na pravech easy_cache ['easy_que easy_query_row', entity, block_name, I18n.locale], !block_name.blank? do %>
    <% if options[:modal_selector].to_s == 'true' %>
      <td class="checkbox hide-when-print">
        <%= entity_modal_selector_checker(entity, selected_values, options[:multiple]) %>
      </td>
    <% end %>
    <% if options[:hascontextmenu].to_s == 'true' %>
      <%= content_tag :td, check_box_tag('ids[]', entity.id, false, :id => nil), :class => 'checkbox hide-when-print' -%>
    <% end %>
    <td class="easy-query-additional-beginning-buttons hide-when-print"><%= query.additional_beginning_buttons(entity, options) -%></td>
    <% query.inline_columns.each do |column| -%>
      <%= content_tag :td, format_html_entity_attribute(entity.class, column, column.value(entity, {:params => params}), {:entity => entity, :allow_avatar => options[:allow_avatar], :editable => options[:editable]}), :class => column.css_classes, :rowspan => (column.full_rows_column? ? 2 : nil) -%>
    <% end %>
    <td class="easy-query-additional-ending-buttons hide-when-print" rowspan="<%= query.block_columns.select{|c| c.value(entity, {:params => params}).present?}.size + 1 %>"><%= query.additional_ending_buttons(entity, options) -%></td>
  <%# end -%>
  </tr>
  <% query.block_columns.each do |column|
    if (text = format_html_entity_attribute(entity.class, column, column.value(entity, {:params => params}), {:entity => entity})) && text.present? -%>
      <tr class="<%= current_cycle %>">
        <% if options[:modal_selector].to_s == 'true' || options[:hascontextmenu].to_s == 'true' %>
          <td class="hide-when-print"></td>
        <% end %>
        <td class="easy-query-additional-beginning-buttons hide-when-print"></td>
        <td colspan="<%= (query.full_rows_columns? ? ((query.inline_columns.size / query.full_rows_columns.size) - 1) : query.inline_columns.size) %>" class="<%= column.css_classes %>"><%= text %></td>
      </tr>
    <% end -%>
  <% end #block columns %>
<% end #entities %>
<%= easy_query_summary_row(query, attributes[:sums] || {}, :bottom, options) if query.grouped? %>
