<% modul_uniq_id ||= ''; block_name ||= ''; filter_active ||= ''; query_heading ||= query.name; options ||= {}; load_filters_immediately ||= false
if !defined?(show_sort_criteria) && options[:page_module].nil?
  show_sort_criteria = false
  end
if !defined?(show_columns_criteria) && options[:page_module].nil?
  show_columns_criteria = options[:show_columns_criteria].nil? ? true : options[:show_columns_criteria]
  end
if !defined?(show_group_by_criteria) && options[:page_module].nil?
  show_group_by_criteria = options[:show_group_by_criteria].nil? ? true : options[:show_group_by_criteria]
  end
if !defined?(show_settings_criteria) && options[:page_module].nil?
  show_settings_criteria = options[:show_settings_criteria].nil? ? true : options[:show_settings_criteria]
  end
if !defined?(show_query_heading) && options[:page_module].nil?
  if options.key?(:show_query_heading)
    show_query_heading = options[:show_query_heading]
    else
    show_query_heading = true
  end
  end
if !defined?(show_filters_opened)
  show_filters_opened = false
  end
if !defined?(easy_page_zone_module_uuid)
  easy_page_zone_module_uuid = nil
  end
query_heading_dup = query_heading.dup.html_safe
%>
<div class="easy-query-heading">
  <% if show_query_heading && query_heading != '_' %>
    <h2>
      <%= query_heading.html_safe %>
      <% unless options[:hide_heading_counts] %>
        (<span id="easy-query-heading-count"><%= query.entity_count %></span>)
      <% end %>

      <% if !query.new_record? && query.editable_by?(User.current) %>
        <%= link_to('', redmine_extensions_engine.edit_easy_query_path(query, :project_id => @project, :back_url => back_url), :class => 'icon icon-edit', :title => l(:title_edit_projectquery)) %>
        <%= link_to('', redmine_extensions_engine.easy_query_path(query, :project_id => @project, :back_url => back_url), :data => {:confirm => l(:text_are_you_sure)}, :method => 'delete', :class => 'icon icon-del', :title => l(:title_delete_projectquery)) %>
        <%= link_to('', redmine_extensions_engine.easy_query_load_users_for_copy_path(query, :back_url => back_url), :class => 'icon icon-group', :title => l(:title_copy_projectquery), :remote => true) %>
      <% end %>

      <%= call_hook(:view_easy_query_index_heading, query: query, options: options) %>
    </h2>

  <% end %>
  <%= content_tag(:h3, options[:query_sub_heading]) unless options[:query_sub_heading].blank? %>

  <% if options[:page_module].nil? %>
    <div class="buttons">
      <div class="filters<%= ' open' if show_filters_opened -%>" id="<%= modul_uniq_id -%>easy-query-toggle-button-filters">
        <i class="icon-toggler"></i>
        <%= l(:label_filter_plural) -%>
        <% if query.has_default_filter? -%>
          <%= content_tag :span, :class => 'default-filter' do -%>
            <%= l(:filter_default) -%>
          <% end -%>
        <% elsif query.filters_active? -%>
          <%= content_tag :span, :class => 'active-filters' do -%>
            <%= l(:filter_active) -%>
          <% end -%>
        <% end -%>

      </div>
      <script type="text/javascript">
        $("#<%= modul_uniq_id -%>easy-query-toggle-button-filters").on('mousedown', function(e, el) {
          REDMINE_EXTENSIONS.toggleDivAndChangeOpen('<%= modul_uniq_id -%>filters', $("#<%= modul_uniq_id -%>easy-query-toggle-button-filters"));
          REDMINE_EXTENSIONS.toggleFilterButtons('<%= modul_uniq_id -%>filter_buttons', '<%= modul_uniq_id -%>filters', '<%= modul_uniq_id -%>filters_settings');
        });
      </script>
      <% if (show_sort_criteria || show_columns_criteria || show_group_by_criteria || show_settings_criteria) && (query.display_sort_options?('index') || query.display_columns_select?('index') || query.display_group_by_select?('index') || query.display_settings?('index')) -%>
        <div class="settings" id="<%= modul_uniq_id -%>easy-query-toggle-button-settings">
          <i class="icon-toggler"></i>
          <%= l(:label_options) -%>
        </div>
        <script type="text/javascript">
          $("#<%= modul_uniq_id -%>easy-query-toggle-button-settings").on('mousedown', function(e, el) {
            REDMINE_EXTENSIONS.toggleDivAndChangeOpen('<%= modul_uniq_id -%>filters_settings', $("#<%= modul_uniq_id -%>easy-query-toggle-button-settings"));
            REDMINE_EXTENSIONS.toggleFilterButtons('<%= modul_uniq_id -%>filter_buttons', '<%= modul_uniq_id -%>filters', '<%= modul_uniq_id -%>filters_settings');
          });
        </script>
      <% end -%>

      <% export_links = render(:partial => 'easy_queries/easy_query_export_format_links', :locals => {:query => query, :options => {:no_container =>true}}) -%>
      <% if export_links.present? %>
        <div class="settings" id="<%= modul_uniq_id -%>easy-query-toggle-button-export-links">
          <i class="icon-toggler"></i>
          <%= l(:label_easy_query_export_links) -%>
        </div>
        <script type="text/javascript">
          $("#<%= modul_uniq_id -%>easy-query-toggle-button-export-links").on('mousedown', function(e, el) {
            REDMINE_EXTENSIONS.toggleDivAndChangeOpen('<%= modul_uniq_id -%>easy-query-export-links', $("#<%= modul_uniq_id -%>easy-query-toggle-button-export-links"));
          });
        </script>
      <% end %>
    </div>
  <% end %>
</div>

<% if options[:page_module].nil? %>
  <div class="easy-query-filter-settings">
    <div class="gray-background collapsible collapsed" id="<%= "#{modul_uniq_id}easy-query-export-links" %>" style="display:none">
      <div class="other-formats"><%= export_links %></div>
    </div>
    <div id="<%= modul_uniq_id -%>filters" class="gray-background filters collapsible<%= ' collapsed' if !show_filters_opened -%>" style="<%= 'display: none;' if !show_filters_opened -%>">
      <% if params[:controller] == 'gantts' || load_filters_immediately  %>
        <%= render_with_fallback :partial => 'filters', :prefixes => query, :locals => {:query => query, :modul_uniq_id => modul_uniq_id, :block_name => block_name} %>
      <% else %>
        <script type="text/javascript">
          $('#<%= modul_uniq_id -%>filters').load('<%= redmine_extensions_engine.url_for(query.to_params.merge(:controller => 'easy_queries', :action => 'filters', :modul_uniq_id => modul_uniq_id, :block_name => block_name, :easy_page_zone_module_uuid => easy_page_zone_module_uuid, :project_id => query.project, :query_param => params[:query_param])).html_safe %>');
        </script>
        <p><i class="indicator icon-loading icon-spin"></i></p>
      <% end -%>
    </div>
    <div id="<%= modul_uniq_id -%>filters_settings" class="gray-background others collapsible collapsed" style="display: none;">
      <%= render :partial => 'easy_queries/form_table_settings', :locals => {:query => query, :block_name => block_name, :modul_uniq_id => modul_uniq_id, :show_sort_criteria => show_sort_criteria, :show_columns_criteria => show_columns_criteria, :show_group_by_criteria => show_group_by_criteria, :show_settings_criteria => show_settings_criteria} %>
    </div>
  </div>
<% end -%>

<% if options[:page_module].nil? && query.outputs.chart? %>
  <div style="display: none">
    <%= hidden_field_tag(:chart, '1', :class => 'serialize') -%>
    <%= render 'easy_queries/form_chart_settings', query: query, modul_uniq_id: modul_uniq_id, action: 'edit' %>
  </div>
<% end %>
