<% modul_uniq_id ||= ''; block_name ||= ''; page_module ||= nil;
   action ||= 'index'
%>
<% if query.display_sort_options?(action) -%>
  <%= content_tag(:div, class: 'sort-container') do %>
    <h4 class="sort-heading"><%= l(:label_sort) %></h4>
    <table class="sort-settings">
      <% 3.times do |i| -%>
        <tr>
          <td><%= i+1 -%>:</td>
          <td>
            <%= select_tag("#{block_name}[sort_criteria][#{i}][]",
                 options_for_select([[]] + query.available_columns.select(&:sortable?).collect { |column| [column.caption, column.name.to_s] }, query.sort_criteria[i].try(:first) )) %>
          </td>
          <td>
            <%= select_tag("#{block_name}[sort_criteria][#{i}][]",
                   options_for_select([[], [l(:label_ascending), 'asc'], [l(:label_descending), 'desc']], query.sort_criteria[i].try(:last))) -%>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<% if query.display_columns_select?(action) %>
  <%= content_tag(:div, class: 'columns-container gray-background', id: "#{modul_uniq_id}columns") do %>
    <h4 class="columns-heading"><%= l(:field_column_names) %></h4>
    <%= render 'easy_queries/columns', :query => query, :modul_uniq_id => modul_uniq_id, :block_name => block_name %>
  <% end %>
<% end %>
<% if query.display_group_by_select?(action) %>
  <%= content_tag(:div, class: 'group-container gray-background') do %>
    <h4 class="columns-heading"><%= l(:field_group_by) %></h4>
    <%= select_tag((block_name.blank? ? 'group_by' : "#{block_name}[group_by]"), options_for_select([[]] + query.groupable_columns.collect { |c| [c.caption, c.name.to_s] }, query.group_by), :id => modul_uniq_id + 'group_by') %>
  <% end %>
<% end %>
<% if query.display_settings?(action) %>
  <%= render :partial => 'easy_queries/settings_criteria', :locals => {:query => query, :modul_uniq_id => modul_uniq_id, :block_name => block_name} %>
<% end -%>


<% if query.page_module %>
  <div class="buttons">
    <%= hidden_field_tag :block_name, block_name %>
    <%= hidden_field_tag :easy_query_type, query.class.name %>
    <%= hidden_field_tag :easy_query_render, 'table' %>
    <%= hidden_field_tag :query_name, query.name %>
    <%= adhoc_preview_button(modul_uniq_id, {:query => query, :update => "#{modul_uniq_id}issues_preview"}) %>
  </div>

  <div id="<%= modul_uniq_id %>issues_preview" class="adhoc-entities-preview"></div>
<% end %>
<%= call_hook(:view_easy_query_filter_settings_bottom, :query => query) %>
