<div id="<%= format %>-export-options" style="display:none;">
  <%= content_tag(:h3, l(:label_export_options, :export_format => format.upcase), :class => 'title') -%>
  <%= form_tag(params.merge({:format => format,:page=>nil}), :method => :get, :id => format + '-export-form') do %>
    <p>
      <%= label_tag(:easy_query_columns_to_export_selected, l(:description_selected_columns), :class => 'inline') %>
      <%= radio_button_tag('easy_query[columns_to_export]', 'selected', true) %>
    </p>
    <p>
      <%= label_tag(:easy_query_columns_to_export_all, l(:description_all_columns), :class => 'inline') %>
      <%= radio_button_tag('easy_query[columns_to_export]', 'all') %>
    </p>
    <% if format=='xlsx' %>
      <p>
        <%= label_tag(:easy_query_count_on_different_column, l(:description_count_on_different_column), :class => 'inline') %>
        <%= check_box_tag('easy_query[count_on_different_column]', true, false) %>
      </p>
    <% end %>
    <p>
      <%= label_tag(:description, l(:field_description)) -%>
      <%= check_box_tag('description', true, query.has_column?(:description) ) %>
    </p>

    <p class="buttons">
      <%= submit_tag(l(:button_export), :name => nil) -%>
      <%= submit_tag(l(:button_cancel), :name => nil, :onclick => 'hideModal(this); return false', :type => 'button', :class => 'button-2') -%>
    </p>
    <% if ['xlsx', 'pdf'].include?(format) && query.grouped? && (groups = query.groups) %>
    <input name='easy_query[open_categories_ids][]' type="hidden"/>
    <p>
      <table>
        <thead>
          <tr>
            <th><%= l(:field_cached_group_names) %></th>
            <th><%= l(:field_export_group_count) %></th>
            <th><%= l(:field_export_list_items_in_group) %></th>
          </tr>
        </thead>
        <tbody>
          <% groups.each do |group, attributes| %>
            <tr>
              <td><%= format_entity_attribute(query.entity, query.group_by_column, group).presence || l(:label_none) %></td>
              <td><%= attributes[:count] %></td>
              <td><%= check_box_tag('easy_query[open_categories_ids][]', (group.present? ? (group.respond_to?(:id) ? group.id : group) : 'nil').to_s, true) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </p>
    <% end %>
  <% end -%>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".other-formats .<%= format %>").click(function(e){
      showModal("<%= format %>-export-options", "330px"); e.preventDefault();
      $("#<%= format %>-export-options").append( $("<input>").attr({name: "target_url", type: "hidden"}).val($(this).attr("href")) );
    });
    $("#<%= format %>-export-options form").submit(function(e){
      hideModal(this);
      e.preventDefault();
      var target_url = $("#<%= format %>-export-options input[name=\'target_url\']").val();
      if(!target_url.match(/\?/)) {
        target_url+="?"
      } else {
        target_url+="&"
      };
      window.location.replace(target_url+$(this).serialize());
    });
  });
</script>
