<%= form_for(@easy_settings, url: easy_setting_path(@plugin.id), html: { class: 'form-box easy-setting-plugin-form' }) do |f| %>
  <%= hidden_field_tag :back_url, params[:back_url] %>

  <%= render "easy_settings/#{@plugin.id}", easy_settings: @easy_settings, settings: @settings, form: f %>

  <div class="form-actions">
    <%= f.submit l(:button_update_easy_settings), class: 'button-1' %>

    <% if params[:back_url].present? %>
      <%= link_to l(:button_back), params[:back_url], class: 'button' %>
    <% end %>
  </div>
<% end %>
